<h2>{{titulo}}</h2>
<hr />
<div>
    <h4>Información del alumno</h4>
    <p>Nombre: {{Prueba.nombre}}</p>
    <p>Apellidos: {{Prueba.apellidos}}</p>
    <p>Nombre: {{Prueba.ciudad}}</p>
</div>
<hr />
<h4>Manipulacion de elmentos input</h4>
<input type="text" [placeholder]="texto"/>
<button class="btn btn-success" (click)="ModificarTexto()">Modificar texto</button>
<input type="text" [placeholder]="texto" [(ngModel)]="Parrafo"/>
<p>{{Parrafo}}</p>
<div>
    <label>Nombre y apellido</label>
    <input type="text" class="form-control" [(ngModel)]="nombre"/>
    <button type="submit" class="btn btn-primary" *ngIf="nombre">Enviar</button>

    <button type="submit" class="btn btn-primary" *ngIf="nombre; else desactivado">Desactivo</button>
    <ng-template #desactivado>
        <button type="submit" class="btn btn-primary" disabled>Activo</button>
    </ng-template>
</div>
<div>
    <h3>Ejempo de la directiva ngIf</h3>
    <hr />

</div>